@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
html,body{
	font-family: "Quicksand", sans-serif;
	font-style: normal;
	background-color: #e0f7fa !important;

}

h1 {
	text-align: center;
	padding-top :5%;
		
}

.fullscreen {
	width: 100vw;
	height: 100vh;
     margin: 0;
}
/*HOMEPAGE*/
.homePage{
text-decoration:none; /*To Remove the hyperlink underline*/
color: black;	
}

/**/

.center{
	display:block;
	display:flex;
	
	justify-content:center;
	align-items:center;
	height: 100vh;
}


/*TO CENTER LOG IN */
.form-signin {
	width: 100vw;
	height: 100vh;
	max-width:400px;
	display:flex;
	justify-content: center;
	align-items: center;
}


/*NAVIGATION BAR*/

.navbar{
	width:100%;
	height:50px;
	
}
 .navstart{
 padding:0;
 margin:0;
 
 }

.navend{
	display:flex;
    justify-content:flex-end;
    list-style-type:none;
	margin:0;
}

.formPath{
margin: 0 1.5em; /*top-bottom  left-rigth margin*/
background-image:linear-gradient( #4a484a 50%, #2B06FF 50%);
color:transparent;
background-clip: text;
-webkit-background-clip:text;
background-size:100% 200%;
transition:all 200ms ease-out ;
}




/*only for laptops/computers*/
@media(hover : hover){ 
	.formPath:hover{
     background-position:0 100%;
     
	}
	
}

