@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
html,body{
	font-family: "Quicksand", sans-serif;

	font-style: normal;
	background-color: #e0f7fa !important;
}

h1 {
	text-align: center;
	padding-top :5%;
		font-weight: 400;
}

.fullscreen {
	width: 100vw;
	height: 100vh;
    font-size: 3vw;
}



.bg-body-tertiary{
  font-size: 1.2rem;
  padding: 0.5rem;
}
.container {
	display:flex;
	align-items: stretch;
}


.center{
	display:flex;
	justify-content:center;
	align-items:center;
	height: 100vh;
}
.form-signin {
	width: 100vw;
	height: 100vh;
	max-width:400px;
	display:flex;
	justify-content: center;
	align-items: center;
}
